html { background-color: black;}
body { margin: 0; padding: 0;font-family: verdana;overflow: hidden; }

.bg { background-color: white; opacity: 0; -webkit-transition: opacity 10s;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: -1;}
.bg img { margin-top: -300px;top: 50%;margin-left: -300px;left: 50%;position: fixed;width: 600px; height: 600px;display: block;}

.slider { color: white; font-size: 90px; z-index: 1; line-height: 1.5 }
.slider strong { font-weight: normal;background-color: rgb(238, 38, 55);padding: 0 10px 10px 10px; }
.slider div {padding: 10%; width: 80%;}

.slider span, .slider strong {-webkit-transition:all cubic-bezier(0.285, 0.630, 0.000, 1.000) 2s; opacity: 0;}

.play { position: fixed;right: 0;bottom: 0;z-index: 1; background-color:rgb(238, 38, 55);color: white;padding: 5px;}
.slide-enter-setup, .slide-leave-setup {
  -webkit-transition:all cubic-bezier(0, 1, 1, 1) 0.5s;
}

.slide-enter-setup {
  position:absolute;
  left:100%;
}

.slide-enter-start {
  left:0;
}

.slide-leave-setup {
  position:absolute;
  left:0;
}

.slide-leave-start {
  left:-100%;
}